

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV File Delivery</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

    <style>

          .app-title {
            text-align: center;
            font-size: 26px;
            color: #4a90e2;
            font-weight: bold;
            margin: 20px;
            text-shadow: 2px 2px 4px #aaa;
        }

    </style>
</head>
<body style="margin: 100px 0px auto 0px; padding: 0;font-family: 'Lato', sans-serif; background-color: #f8f8f8;">

<!-- Visit Alert -->
<div style="background-color: #ffffff; border: 1px solid #e2e2e2; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); overflow: hidden; margin: 20px auto; max-width: 600px;">

    <div class="app-title">Grocery Store App</div>
    <div style="background-color: #2692aae9; color: #ffffff; padding: 15px; text-align: center; border-bottom: 1px solid #e2e2e2;">

        
        
        <strong>CSV Sent:</strong> Store Manger has issued a CSV report from the grocery store.
    </div>

    <div style="padding: 15px;">
      <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"> Hi there,
       We hope this message finds you well.
       We're delighted to provide you with the requested CSV file, detailing Categories and Products. We trust this data will be beneficial for your needs.
       Your satisfaction is our priority. Should you need any assistance or have queries, feel free to contact us. We're always here to support you.
       Thank you for your continued trust in our services. We value your patronage and look forward to serving you further.
   </p>
</div>
   

    <div style="background-color: #2692aae9; color: #ffffff; padding: 15px; text-align: start; border-bottom: 1px solid #e2e2e2;">

        
        Best Wishes ~
        <strong>Grocery Store Team</strong>
    </div>
 </div>
</div>


</body>
</html>
