<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visit Alert</title>
    <style>
          .app-title {
            text-align: center;
            font-size: 26px;
            color: #4a90e2;
            font-weight: bold;
            margin: 20px;
            text-shadow: 2px 2px 4px #aaa;
        }

    </style>
</head>
<body style="margin: 100px 0px auto 0px; padding: 0; font-family: Arial, sans-serif; background-color: #f8f8f8;">

<!-- Visit Alert -->
<div style="background-color: #ffffff; border: 1px solid #e2e2e2; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); overflow: hidden; margin: 20px auto; max-width: 600px;">

    <div class="app-title">Grocery Store App</div>
    <div style="background-color: #2692aae9; color: #ffffff; padding: 15px; text-align: center; border-bottom: 1px solid #e2e2e2;">

        
        
        <strong>Visit Alert:</strong> It's been 24 hours since your last visit to the grocery store.
    </div>

    <div style="padding: 15px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
        <h4>Hello {{name}},</h4>
        <p style="margin-top: 15px;">
            We miss seeing you at our grocery store! Take this opportunity to explore our latest products and find great deals on your favorite items.
        </p>
        <p>
            Here are some reasons to visit us soon:
        </p>
        <ul>
            <li>Discover new arrivals in our fresh produce section.</li>
            <li>Exclusive discounts on household essentials.</li>
            <li>Exciting promotions and loyalty rewards.</li>
        </ul>
        <p>
            Don't miss out on the latest offerings! Visit us today and make your shopping experience even better.
        </p>
    </div>

    <div style="background-color: #2692aae9; color: #ffffff; padding: 15px; text-align: start; border-bottom: 1px solid #e2e2e2;">

        
        Best Wishes ~
        <strong>Grocery Store Team</strong>
    </div>

</div>


</body>
</html>
